{% extends 'registration/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<style>
  .form-gap {
    padding-top: 70px;
  }

  .panel-body p label {
    font-weight: 600;
  }
  .forgotDjango input {
    width: 300px;
    border: 1px solid #8c051b;
    margin-left: 5px;
    border-radius: 5px;
    padding: 7px;
}
.forgotDjango h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.forgotDjango i {
  color: #8c051b;
  font-size: 40px;
}
 .forgotDjango button {
  margin-top: 20px;
  background: #90051d;
  color: white;
  border: unset;
  border-radius: 5px;
  padding: 7px 25px;
  font-size: 17px;
  font-weight: 500;
}
</style>

<form method="post">
  <div class="form-gap"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center forgotDjango">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Forgot Password?</h2>
              
              <div class="panel-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-change contact-form-submint-btn btn_submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}