<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lawAfrica</title>
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/responsive.css">


</head>

<body>
    <!-- navbar start here -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="home.html"><img src="img/logo.jpeg" alt=""></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="home.html">Home</a></li>
                    <!-- <li><a class="nav-link scrollto" href="AboutUs.html">About Us</a></li> -->
                    <li><a class="nav-link scrollto" href="AboutUs.html">Digital Publishing</a></li>
                    <li class="dropdown"><a href="#"><span>Ebook Store</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                             </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                      </ul>
                    </li>
                    
                    <li><a class="nav-link scrollto" href="#">IndyBot</a></li>
                    <li><a class="nav-link scrollto" href="#">Ebook Reader</a></li>
                   
                    <li class="dropdown"><a href="#"><span>Tools</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                         </ul>
                    </li>

                    <li><a class="nav-link scrollto" href="contactUs.html">Contact Us</a></li>
                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            class="getstarted scrollto" href="#about">Login</a></li>
                    <!-- Button trigger modal -->


                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1"
                            class="getstarted scrollto" href="#about">Signup</a></li>

                </ul>
                <i class="bi mobile-nav-toggle bi-list"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
    <!-- header end -->
    <section class="faqBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>FAQ</h1>
                    <h5>Find answers to some frequently asked questions here.</h5>
                    <div class="aboutBannerBtn">
                        <a href="#"> <button>Read More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner end -->
    <section class="faqSec">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h2 class="mb-4">Frequently Asked Questions</h2>
                    <h5 class="lead mb-5">If you don't see an answer to your question here, please feel free to contact
                        us with the links below:</h5>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    How to reach your website
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia quisquam sequi quibusdam praesentium architecto unde, nihil in. Debitis facilis quo necessitatibus veniam quaerat, laboriosam perspiciatis ipsum veritatis est? Illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tempore, debitis consequuntur ratione reiciendis laboriosam corrupti ab veritatis distinctio, voluptatum quas fugit minus ut officia dolorum, ex alias facere voluptatibus!</div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    How we can take the online class?
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam est vero consequuntur quia, similique aut totam reiciendis temporibus ex. Animi illo error enim voluptates atque sit tempore voluptatem exercitationem quibusdam?</div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Lorem ipsum set amet
                                </button>
                              </h2>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex impedit vitae, assumenda explicabo voluptates dolorum, id, dolore saepe odio ipsa. Laborum aut ratione nemo consequuntur! Tempora harum eos odio.</div>
                              </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                  Lorem ipsum set amet
                                  </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex impedit vitae, assumenda explicabo voluptates dolorum, id, dolore saepe odio ipsa. Laborum aut ratione nemo consequuntur! Tempora harum eos odio.</div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                  Lorem ipsum set amet
                                  </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex impedit vitae, assumenda explicabo voluptates dolorum, id, dolore saepe odio ipsa. Laborum aut ratione nemo consequuntur! Tempora harum eos odio.</div>
                                </div>
                              </div>
                          </div>
                </div>
                <div class="col-lg-5">
                    <div class="faqImg">
                        <img src="img/faqImg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ************************************************ -->
    <section class="homeCompare">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>Easiest Way To Learn Everything</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium
                        totam rem aperiam eaque ipsa quae ab illo inventore veritatis</p>
                    <div class="SeecourseBtnParent">
                        <div class="seeCoursebtn mr-3">
                            <a href="#">See Course</a>
                        </div>
                        <div class="seeCoursebtn">
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer class="">

        <div class="footerContent">
            <div class="container">
                <div class="row borderFotter">
                    <div class="col-lg-4 col-sm-6">
                        <div class="footerLogoContent">
                            <div class="footerLogo">
                                <img src="img/logo.jpeg" alt="">
                            </div>
                            <p>Est class vel si sit orci rutrum at morbi commodo pellentesque. Faucibus sociosqu
                                suspendisse
                                integer id justo enim letius eleifend volutpat suscipit consectetur.</p>
                            <ul class="footerIconSocial">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="cateforiesContent">
                            <h5>Categories</h5>
                            <ul>
                                <li><a href="#">Full time</a></li>
                                <li><a href="#">Part time</a></li>
                                <li><a href="#">Freelance</a></li>
                                <li><a href="#">Internship</a></li>
                                <li><a href="#">Work from home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="cateforiesContent">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">Carrer</a></li>
                                <li><a href="#">Internship</a></li>
                                <li><a href="#">Work from home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="cateforiesContent">
                            <h5>Newsletter</h5>
                            <p>Get exclusive deals by signing up to our Newsletter.</p>
                            <div class="formFooter">
                                <div class="footerFormButton">
                                    <button onclick="window.location.href='#'">SIGN UP</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <p class="copyPara">Copyright © 2023, All rights reserved. Powered by lawAfrica.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="listCopy">
                            <ul>
                                <li><a href="#">Term of use
                                    </a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Cookie policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer  end -->
    <!-- <script src="js/jquery.min.js">
    </script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"> </script>
    <script src="js/custom.js"> </script> -->



</body>

</html>