{% include 'lowafrecia/customer_header.html' %}
{% load static %}


<style>
    div#content-wrapper {
        margin-left: 18%;
    }

    .avatar.avatar-online img {
        height: 36px !important;
        width: 36px !important;
    }

    .searchSideCus input {

        padding: 4px 20px;
        border-radius: 5px;
        border: 2px solid #a9394d;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 195px;
    }

    .searchSideCus input:focus {
        outline: none;
    }

    span.app-brand-logo.demo img {
        width: 150px;
    }

    #search-container {
        display: flex;
        border: 2px solid #a9394d;
        justify-content: center;
        border-radius: 5px;
    }

    #search-bar {
        width: 500px;
        padding: 5px 10px 5px 0;
        border: none;
        border-radius: 5px;
    }

    #search-bar:focus {
        border: none;
        outline: none;
    }

    .odysseyimg img {
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 200px;
    }

    .odysseyimg {
        height: 200px;
        width: 200px;
        border-radius: 7px;
    }


    .nav-item ul.dropdown-menu.dropdown-menu-end.text-center.show {
        width: 300px;
    }

    .manage_account {
        color: #3163aa;
    }

    .sign_outbtn {
        color: #a9394d;
        font-weight: 700;
        margin: 10px 0;
    }

    .nav-item a:hover {
        color: #000;
    }

    .sign_outbtn iconify-icon {
        vertical-align: middle;
    }

    .customerAnchr a {
        color: #677a8c;
    }

    .customerAnchr {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 200px;
    }

    .heart {
        color: rgb(46, 45, 45);
        cursor: pointer;
        font-size: 25px;
    }

    .heart.favorited {
        color: rgb(244, 26, 63);
    }

    #results-container {
        display: none;
    }

    #no-results {
        color: red;
    }



    .active13 {
        color: #000000 !important;
    }

    .avatar.avatar-online img {
        height: 36px !important;
        width: 36px !important;
    }

    .searchSideCus input {

        padding: 4px 20px;
        border-radius: 5px;
        border: 2px solid #a9394d;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 195px;
    }

    .searchSideCus input:focus {
        outline: none;
    }

    span.app-brand-logo.demo img {
        width: 150px;
    }

    #search-container {
        display: flex;
        border: 2px solid #a9394d;
        justify-content: center;
        border-radius: 5px;
    }

    #search-bar {
        width: 500px;
        padding: 5px 10px 5px 0;
        border: none;
        border-radius: 5px;
    }

    #search-bar:focus {
        border: none;
        outline: none;
    }

    .History {
        display: flex;
        flex-wrap: wrap;
    }

    .profile_img img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }


    .bookSection {
        width: 80%;
        margin: 0 0 0 auto;
        position: absolute;
        right: 0;
        top: 73px;
    }

    section.mapSec.bg-white {
        margin-left: 276px;
        width: 40%;
        margin-top: 30px;
    }

    .submitbtn {
        background-color: #890015;
        border: 0;
        border-radius: 6px;
        padding: 3px 20px;
        color: #fff;
    }

    .mainPage2 {
        margin-left: 280px;
        margin-top: 15px;
    }

    .userServay {
        width: 50%;
        border-radius: 10px;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        padding: 15px;
        margin: 20px auto;
    }

    .userquestion .libraryoptn {
        list-style-type: none;
        width: 100%;
        background-color: #f5f5f9;
        margin: 5px 0;
        padding: 7px 10px;
    }

    li.error {
        color: red;
    }

    @media (max-width:1200px) {
        .mainPage2 {
            margin-left: 0px;
        }
    }
    /* .sidehead {
        width: 77%;
        margin: 10px 0px 10px auto;
    } */
    .open_side{
        margin-left: 218px;
    }
</style>
<div>
    <div id="content-wrapper">
        <div id="content">
            <div>
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">

                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none "
                        id="open_side">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item navbar-search-wrapper mb-0">
                                <a class="nav-item nav-link search-toggler px-0" href="javascript:void(0);">



                                </a>
                            </div>

                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">

                            <!-- Notification -->


                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">

                                        {% if user.profile_pic %}
                                        <div class="profile_img">
                                            <img src="{{ user.profile_pic.url }}" alt=""
                                                class="w-px-40 h-auto rounded-circle">
                                        </div>
                                        {% else %}
                                        <div class="profile_img">
                                            <img src="{% static 'images/logoLaw.png' %}" alt=""
                                                class="w-px-40 h-auto rounded-circle">
                                        </div>
                                        {% endif %}
                                    </div>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end text-center">
                                    {% if user.profile_pic %}
                                    <div class="profile_img">
                                        <img src="{{ user.profile_pic.url }}" alt="">
                                    </div>
                                    {% else %}
                                    <div class="profile_img">
                                        <img src="{% static 'images/logoLaw.png' %}" alt="">
                                    </div>
                                    {% endif %}
                            </li>

                            <li>
                                <h6 class="mb-1">{{user.first_name}}</h6>
                            </li>
                            <li class="mb-3">{{user.email}}</li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li class="sign_outbtn"><a href="{% url 'user_logout' %}"><iconify-icon
                                        icon="gridicons:sign-out"></iconify-icon> Sign out</a></li>


                        </ul>
                        </li>
                        <!--/ User -->
                        </ul>
                    </div>

                    <!-- Search Small Screens -->
                    <div class="navbar-search-wrapper search-input-wrapper  d-none">
                        <input type="text" class="form-control search-input container-xxl border-0"
                            placeholder="Search..." aria-label="Search...">
                        <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
                    </div>

                </nav>
            </div>
        </div>
    </div>

    <!-- <section class="mapSec bg-white ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ps-0">
                    <div class="contactFormdata mainPage2">
                        <div class="text-center pb-3">
                            <h5>User Servays</h5>
                        </div>
                        <form class="row g-3" method="POST">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Name</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name="name"
                                    required="">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputPassword4" placeholder="Email"
                                    name="email" required="">
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="phone">Phone number</label>
                                    <input type="tel" id="ContactNumberId" class="form-control field change_border"
                                        value="{{ data.contact }}" name="contact" minlength="10" maxlength="10"
                                        placeholder="Enter phone number" onkeypress="return validatePhoneNumber(event)"
                                        oninput="updatePhoneNumberErrorMessage()">
                                </div>
                                <span id="phone_number_message" style="color: red; font-weight: bold;"></span>

                            </div>
                            <div class="col-md-12">
                                <label for="inputCity" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="inputCity" placeholder=" Write subject..."
                                    name="subject" required="">
                            </div>
                            <div class="col-md-12">
                                <label for="inputState" class="form-label">Message</label>
                                <textarea class="form-control" name="message" placeholder="Write message..." required=""></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="submitbtn">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="mainPage2">
        <div class="userServay">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="text-center">
                <h4>Survey</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="userquestion pt-3">
                    {% for data in data %}
                    <div class="px-1">
                        <h5>{{forloop.counter}}.{{data.question}}</h5>
                        <input type="hidden" name="question_{{forloop.counter}}" value="{{data.question}}">
                        <div class="libraryoptn">
                            <input type="radio" name="answer_{{forloop.counter}}" value="{{data.answer1}}">
                            <label>{{data.answer1}}</label>
                        </div>
                        <div class="libraryoptn">
                            <input type="radio" name="answer_{{forloop.counter}}" value="{{data.answer2}}">
                            <label>{{data.answer2}}</label>
                        </div>
                        <div class="libraryoptn">
                            <input type="radio" name="answer_{{forloop.counter}}" value="{{data.answer3}}">
                            <label>{{data.answer3}}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="text-center mt-3">
                        <button type="submit" class="submitbtn">Submit</button>
                    </div>
                </div>
            </form>







        </div>
    </section>


    <script src="{% static 'js/jquery.js' %}"> </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
    <script src="{% static 'js/menu.js' %}"> </script>
    <script src="{% static 'js/main.js' %}"> </script>
    <script src="{% static 'js/dashboards-analytics.js' %}"> </script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script>
        function validatePhoneNumber(event) {
            var charCode = event.charCode;
            return (charCode >= 48 && charCode <= 57);
        }

        function updatePhoneNumberErrorMessage() {
            var phoneNumberInput = document.getElementById('ContactNumberId');
            var errorMessageSpan = document.getElementById('phone_number_message');

            if (!validatePhoneNumber({ charCode: phoneNumberInput.value.charCodeAt(0) })) {
                errorMessageSpan.textContent = 'Please enter a valid phone number.';
            } else {
                errorMessageSpan.textContent = '';
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#open_side").click(function () {
                side_bar();
            });
    
            function side_bar() {
                var menulayout = $("#layout-menu");
                var menubtn = $("#open_side");
                if (menulayout.css("display") === "none") {
                    menulayout.css("display", "block");
                    menubtn.addClass("open_side");
                } else {
                    menulayout.css("display", "none");
                    menubtn.removeClass("open_side");
                }
            }
        });
    </script>