{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    input#password1 {
        margin: 10px 0;
    }

    input#password2 {
        margin: 10px 0;

    }

    input.col-xs-12.btn.btn-primary.btn-load.btn-lg {

        height: 40px;
    }

    h3.changepass {
        margin: 5px;
    }

    .profilebg {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }
</style>

<div class="container mainPage">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row ">
        <div class="col-lg-8 col-12">
            <div class="profilebg">
                <h5 class="changepass">Change Password</h5>
                <form method="post" id="passwordForm">
                    {% csrf_token %}
                    <input type="text" class="input-lg form-control" name="email" id="password1" placeholder="Email"
                        autocomplete="off" required value="{{data.email}}">
                    <input type="password" class="input-lg form-control" name="new_password" id="password1"
                        placeholder="New Password" autocomplete="off" required>

                    <input type="password" class="input-lg form-control" name="confirm_password" id="password2"
                        placeholder="Confirm Password" autocomplete="off" required>

                    <input type="submit" class="col-xs-12 btn btn-primary btn-load mt-3"
                        data-loading-text="Changing Password..." value="Change Password">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}