{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>
    div#example1_filter {
        padding-left: 273px !important;
    }

    ul.pagination {
        padding-left: 371px !important;
    }
</style>





<!-- Begin Page Content -->
<div class="container-fluid mainPage">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 font-weight-bold text-primary">Collections Details</h6>
            <a href="{% url 'add_collection' %}"> <button type="button" class="btn btn-primary">Add
                    Collections</button></a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="example">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Books</th>
                            <th>Action</th>
                            {% comment %} <th>Status</th> {% endcomment %}

                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data %}
                        <td>{{forloop.counter}}</td>
                        <td>
                            {% if data.image %}
                            <img src="{{data.image.url}}" style="height: .6in; width:2cm; object-fit: cover;" alt="">
                            {% endif %}
                        </td>

                        <td>{{data.name}}</td>
                        <td>
                            <div class="iconView"> <a href="{% url 'collection_view' data.id %}"><i class="fa fa-eye"></i></a> </div>
                        </td>

                        <td>
                            <div class=" d-flex">
                                <div class="edit-cild mr-3">
                                    <a href="{% url 'collection_edit' data.id %}"><i class="icon-edit fas fa-edit"></i></a>
                                </div>
                                <div class="edit-child">
                                    <a href="{% url 'collection_delete' data.id %}"
                                        onclick="return confirm('Are You Sure')"><i
                                            class="icon-edit fas fa-trash"></i></a>
                                </div>
                                {% comment %}
                        <td>
                            <input type="checkbox" checked data-toggle="toggle" data-on="active" data-off="Inactive"
                                data-onstyle="success" data-offstyle="danger">
                        </td> {% endcomment %}
            </div>
            </td>
            </tr>
            {% endfor %}
            </tbody>

            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}