{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Begin Page Content -->
<div class="container-fluid mainPage">
    <div class="container rounded bg-white mt-2 mb-2">
        <div class="row">
            <div class="col-md-12 border-right">
                <div class="p-3 py-5">
                    <div class="card-header d-flex justify-content-between py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Update</h6>
                    </div>
                    <form method="post"enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="exampleInputUsername1">Heading:</label>
                            <input type="text" class="form-control" placeholder="Heading" name="heading" value="{{data.heading}}">
                        </div>


                        <div class="form-group">
                            <label for="exampleInputUsername1">Title:</label>
                            <input type="text" class="form-control" placeholder="Title" name="title" value="{{data.title}}">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">Span:</label>
                            <input type="text" class="form-control" placeholder="Span" name="span" value="{{data.span}}">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">Image:</label>
                            <input type="file" class="form-control" name="image">
                        </div>

                        
                        <div class="form-group">
                            <label for="exampleInputUsername1">Description1:</label>
                            <textarea type="text" class="form-control" placeholder="Description1" name="description1">{{data.description1}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">Description2:</label>
                            <textarea type="text" class="form-control" placeholder="Description2" name="description2">{{data.description2}}</textarea>
                        </div>

                        <div class="row">
                            <button type="submit" class="btn btn-primary mr-2">Edit</button>
                        </div>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>



{% endblock %}