{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    h2.create {
        color: white;
        font-family: auto;
        background-color: #382250fa;
        width: 125px;
    }
</style>
</head>

<body>


    <div class="container-fluid mainPage">
        <div class="container rounded bg-white py-3">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h2 class="create">UPDATE</h2> -->
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}


                    <ul class="nav nav-tabs" role="tablist">

                        <!-- <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#menu1">Book Category</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">Update Book</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- <div id="menu1" class="container tab-pane  active"><br>
                            <h3> Book Category</h3>
                            <form class="row" method="post">
                                {% csrf_token %}
                                <div class="col-md-8 form-group">
                                    <input type="text" class="form-control" name="book_category" placeholder="Book Category"
                                        requrired="">
                                </div>
                                <div class="col-md-6 form-group align-right">
                                    <button type="submit" class="btn btn-primary mt-0">Submit</button>
                                </div>
                            </form>
                        </div> -->
                        <div id="home" class="container tab-pane active"><br>
                            <form class="row" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-md-6 form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" value="{{ data.title }}" required="">
                                </div>

                        
                                <div class="col-md-6 form-group">
                                    <label for="author">Authors:</label>
                                    <input type="text" class="form-control" placeholder="Authors Name" name="author" value="{{ data.author }}" required="">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="image">Image:</label>
                                    <input type="file" class="form-control" name="image" >
                                </div>
                        
                                <div class="col-md-6 form-group">
                                    <label for="book_pdf">Book Pdf:</label>
                                    <input type="file" class="form-control" name="book_pdf" accept="application/pdf" >
                                </div>
                        
                                <!-- <div class="col-md-6 form-group">
                                    <label>Enroll Policy:</label><br>
                                    <input type="radio" id="public" name="choose" value="public" {% if data.choose == "public" %}checked{% endif %}>
                                    <label for="public">Public</label>
                                    <input type="radio" id="on_invitation" name="choose" value="on invitation" {% if data.choose == "on invitation" %}checked{% endif %}>
                                    <label for="on_invitation">On Invitation</label>
                                </div> -->
                        
                                <div class="col-md-6 form-group">
                                    <label for="price">Price:</label>
                                    <input type="number" class="form-control" name="price" placeholder="Price" value="{{ data.price }}" required="">
                                </div>
                        
                                <div class="col-md-6 form-group">
                                    <label for="publication_date">Publishing Date:</label>
                                    <input type="date" class="form-control" name="publication_date" value="{{ data.publication_date|date:'Y-m-d' }}" required="">
                                </div>
                        
                                <!-- <div class="col-md-6 form-group">
                                    <select class="form-select form-control" aria-label="Default select example" name="book_category">
                                        <option selected>Select Category</option>
                                        {% for category in category %}
                                        <option value="{{ category.book_category }}" {% if category.book_category == data.book_category %}selected{% endif %}>{{ category.book_category }}</option>
                                        {% endfor %}
                                    </select>
                                </div> -->
                                <div class="col-md-6 form-group">
                                    <label for="book_category">Book Category:</label>
                                    <select class="form-select form-control" aria-label="Default select example" name="book_category">
                                        <option value="" selected>Select Category</option>
                                        {% for category in category %}
                                            <option value="{{ category.book_category }}" {% if data.book_category == data.book_category %}selected{% endif %}>
                                                {{ category.book_category }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- <div class="col-md-6 form-group">
                                    <label for="publication_date">Pages:</label>
                                    <input type="text" class="form-control" name="pages" value="{{ data.pages}}" required="">
                                </div>
                                 -->
                        
                                <div class="col-md-12 form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control change_border" placeholder="Enter Description" id="editor" name="description">{{ data.description }}</textarea>
                                </div>
                                <div class="col-md-6 form-group align-right">
                                    <button type="submit" class="btn btn-primary mt-0">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    <!-- ****************************************************** -->

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>



  