{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Begin Page Content -->
<div class="container-fluid mainPage">
    <div class="container rounded bg-white mt-2 mb-2">
        <div class="row">
            <div class="col-md-12 border-right">
                <div class="p-3 py-5">
                    <div class="card-header d-flex justify-content-between py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Edit Use Primary</h6>
                    </div>
                    <form method="post" , enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="exampleInputUsername1">Heading:</label>
                            <input type="text" class="form-control" placeholder="Heading" name="heading" value="{{data.heading}}"requrired="">
                        </div>

                        

                        <div class="form-group">
                            <label for="exampleInputUsername1">Image1:</label>
                            <input type="file" class="form-control" name="image1" requrired="">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">Image2:</label>
                            <input type="file" class="form-control" name="image2" requrired="">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">Image3:</label>
                            <input type="file" class="form-control" name="image3" requrired="">
                        </div>

                        
                        <div class="form-group">
                            <label for="exampleInputUsername1">Paragraph1:</label>
                            <textarea type="text" class="form-control" placeholder="Paragraph1" name="paragraph1" requrired="">{{data.paragraph1}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">Paragraph2:</label>
                            <textarea type="text" class="form-control" placeholder="Paragraph2" name="paragraph2" requrired="">{{data.paragraph2}}</textarea>
                        </div>


                        <div class="row">
                            <button type="submit" class="btn btn-primary mr-2">Edit </button>
                        </div>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}